<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>

    <!-- Load Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Responsive design meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to your custom CSS -->
   <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    
  </head>

  <body>
      <button id="theme-toggle" aria-label="Toggle Light and Dark mode">Toggle Light/Dark Mode</button>
    
      {{ content }}
      
      <script>
        // Apply saved theme on load
        const body = document.body;
        if (localStorage.getItem('theme') === 'light') {
          body.classList.add('light');
        } else {
          body.classList.remove('light');
        }
    
        // Toggle theme and save preference
        const toggleBtn = document.getElementById('theme-toggle');
        toggleBtn.addEventListener('click', () => {
          body.classList.toggle('light');
          if (body.classList.contains('light')) {
            localStorage.setItem('theme', 'light');
          } else {
            localStorage.setItem('theme', 'dark');
          }
        });
      </script>
  </body>
</html>
