<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{{ page.title }}</title>

    <!-- Load Montserrat font -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Responsive design meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Link to your custom CSS -->
   <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    
  </head>

  <body>
      
      <img
        id="theme-toggle"
        src="/images/night-mode.png"
        alt="Toggle Theme"
      />

      <!--<button id="theme-toggle" aria-label="Toggle Light and Dark mode">Toggle Light/Dark Mode</button> -->
    
      {{ content }}
      
      <script>
        const body = document.body;
        const toggleBtn = document.getElementById('theme-toggle');
      
        function updateThemeIcon(theme) {
          toggleBtn.src = theme === 'light'
            ? '/images/night-mode.png'
            : '/images/light.png';
        }
      
        // Apply saved theme on page load
        const savedTheme = localStorage.getItem('theme');
        const isLight = savedTheme === 'light';
      
        if (isLight) {
          body.classList.add('light');
        }
      
        updateThemeIcon(isLight ? 'light' : 'dark');
      
        // Toggle theme on click
        toggleBtn.addEventListener('click', () => {
          body.classList.toggle('light');
          const newTheme = body.classList.contains('light') ? 'light' : 'dark';
          localStorage.setItem('theme', newTheme);
          updateThemeIcon(newTheme);
          });
      </script>

  </body>
</html>
